@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #010111;
    color: white;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoff{

    position: absolute;
    right: 20px;
}

table {
    margin-top: 60px;
    border: 1px solid black;
    border-collapse: collapse;
    
    
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid white;
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 15px;
  }
  
  tr:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #b6b6f168;
    color: #fff;
  }
  